<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <link rel='shortcut icon'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='theme-color' content='#000000'>
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel='manifest' href='%PUBLIC_URL%/manifest.json'>
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike '/favicon.ico' or 'favicon.ico', '%PUBLIC_URL%/favicon.ico' will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>Let´s Talk</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz'
        crossorigin='anonymous'>
    <link rel='stylesheet' href='../public/styles.css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Signika' rel='stylesheet'>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <header>

        <div class=header__logo>
            <i class='fas fa-hand-holding-heart'></i>
        </div>

        <div class='header__title'>
            <h1>LET´S TALK</h1>
        </div>

        <div class='header__menu'>
            <div class='dropdown'>
                <button class='dropbtn'>Menu</button>
                <div class='dropdown-content'>
                    <a href='#'>Landing</a>
                    <a href='#'>Register</a>
                    <a href='#'>Login</a>
                </div>
            </div>
        </div>

    </header>

    <main class='landing'>

        <section>
            <h1 class='subtitle'>How it works</h1>
        </section>


        <section class='landing__instructions'>

            <div class='landing__message'>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sunt, dolore necessitatibus
                    repudiandae dicta nemo nihil rem commodi eveniet minima, perspiciatis consequuntur amet odit
                    incidunt accusamus facere cumque sit beatae?</p>
            </div>
            <div class='landing__img'>
                <img>
            </div>

        </section>

    </main>

    <footer>
        <p>Let´s Talk its a project of Francisco Fernández</p>
        <p>Skylab Coders 2018 &copy</p>
    </footer>

</body>

</html>